* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 62.5%;
  --bg: #fbfaff;
  --bg-white: #fff;
  --bg-input-file: #f3f0ff;
  --bg-file-loading: #e9e3f8;
  --bg-file-loaded: #daf2d9;
  --bg-file-error: #f2d9d9;
  --bg-bar-loaded: #73b172;
  --bg-bar-error: #e3e3ed;
  --bg-header-hover: #ebe6ff;
  --color-border-input-file: #c1b2fa;
  --color-title: #7a5fec;
  --color-subtitle: #746e82;
  --color-file-tile: #575361;
  --color-file-subtitle: #857e95;
  --color-msg-error: #e36363;
  --color-msg-loaded: #4e884d;
  --color-msg-loading: #9892a6;
}

body {
  background-color: var(--bg);
}

main {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  padding-top: 10rem;
  padding: 10rem 2rem 2rem;
  gap: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  max-width: 44rem;
  max-height: 16rem;
  width: 100%;
  height: 100%;

  background-color: var(--bg-input-file);
  border: 1px dashed var(--color-border-input-file);
  border-radius: 8px;
  transition: 0.2s;
}

header:hover {
  background-color: var(--bg-header-hover);
}

header div h1 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--color-title);
  margin-top: 1.2rem;
}

header div p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
  color: var(--color-subtitle);
}

header div {
  text-align: center;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 44rem;
  width: 100%;
  max-height: 30rem;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

article {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--bg-white);
  max-width: 100%;
  height: 7.2rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

article div:nth-child(2) {
  max-width: 36.4rem;
  width: 100%;
  position: relative;
}

article div:nth-child(2) p {
  width: 100%;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 130%;
  color: var(--color-file-tile);
}

article div:nth-child(2) span {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--color-file-subtitle);
}

footer {
  display: flex;
  align-items: center;
  line-height: 0;
  gap: 0.8rem;
}

progress {
  flex: 1;
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
}

input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: 0;
  top: 0;
  cursor: pointer;
}

.barLoading::-webkit-progress-bar {
  background-color: var(--bg-bar-error);
  height: 0.8rem;
  width: 100%;
  border-radius: 999px;
}

.barLoading::-webkit-progress-value {
  background: linear-gradient(90deg, rgba(58, 97, 237, 0.52) 0%, #7c3aed 100%);
  height: 0.8rem;
  width: 100%;
  border-radius: 999px;
}

.barLoaded::-webkit-progress-bar {
  background-color: var(--bg-bar-error);
  height: 0.8rem;
  width: 100%;
  border-radius: 999px;
}

.barLoaded::-webkit-progress-value {
  background-color: var(--bg-bar-loaded);
  height: 0.8rem;
  width: 100%;
  border-radius: 999px;
}

.bgLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  width: 4.8rem;
  height: 5.6rem;
  background-color: var(--bg-file-loading);
  border-radius: 0.4rem;
}

.bgLoaded {
  background-color: var(--bg-file-loaded);
}

.bgError {
  background-color: var(--bg-file-error);
}

#msgLoading {
  color: var(--color-msg-loading);
}

#msgLoaded {
  color: var(--color-msg-loaded);
}

#msgError {
  color: var(--color-msg-error);
}

.imgFeatures {
  max-width: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.imgFeatures:hover {
  transform: scale(1.2);
}
